# Using glob syntax
syntax: glob

/bin
**/bin/Debug
**/bin/Release
**/obj/Debug
**/obj/Release
**/x64/Debug
**/x64/Release

*.user
*.suo
*.sdf
*.opensdf
*.pdb
*.pch
*.ipch
*.class
*.metadata
*.idea
*.userprefs
*.vshost.*
*.aux
*.ent
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.tlog
*.idb
*.unsuccessfulbuild
*.lastbuildstate
*.obj
*.cache
*.FileListAbsolute.txt
_ReSharper.*
_NCrunch_*
testCaseCollection.xml

# Using regexp syntax
syntax: regexp
tapescript/cpp/cl/tape/examples/output/performance/
